.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* body::-webkit-scrollbar {
  display: none;
} */

body {
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

html {
   scrollbar-width: none;
  -ms-overflow-style: none; 
  scroll-behavior: smooth;
}

/* html::-webkit-scrollbar {
  display: none;
} */